body {
  font-family: Century Gothic;
  background-color: white;
}

* {
  box-sizing: border-box;
}

label {
  float: left;
}
.container {
  padding: 16px;
  width: 80%;
  margin: auto;
  background-color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  font-family: Century Gothic;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.register {
  background-color: #4CAF50;
}

.login {
  background-color: #00BFFF;
}

.logout {
  background-color: #FF0000;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.error {
  color: #FF0000;
  font-weight: bold;
}
.registererror {
  display: flex;
  justify-content: flex-end;
}
